IB_HOST=127.0.0.1
IB_PORT=4002
IB_CLIENT_ID=201
IB_ACCOUNT=
IB_ALLOW_ORDER=false
IB_ALLOW_LIVE_TRADING=false
IB_LIVE_ACCOUNT_ALLOWLIST=
IB_DEFAULT_EXCHANGE=SMART
IB_DEFAULT_CURRENCY=USD
IBKR_STRATEGY_RUNNER_STATE_DIR=/home/hliu/.local/state/ibkr-strategy-runner
